<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
<servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>servlet.servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLine</display-name>
    <servlet-name>ServletLine</servlet-name>
    <servlet-class>servlet.servletLine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLine</servlet-name>
    <url-pattern>/ServletLine</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>ServletStop</display-name>
    <servlet-name>ServletStop</servlet-name>
    <servlet-class>servlet.servletStop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletStop</servlet-name>
    <url-pattern>/ServletStop</url-pattern>
  </servlet-mapping>
 </web-app>